recursive-include graph_lib/lib *
recursive-include graph_lib/wrappers *
recursive-include graph_lib/graph *.smat
include graph_lib/README.rst
include graph_lib *.py
recursive-include graph_lib/lib/graph_lib_test *
recursive-include graph_lib/lib/graph_lib_test Makefile
